{% extends 'home/base.html' %}
{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock links %}
{% block title %}
  صفحه اصلی
{% endblock title %}
{% block content %}
<h1>statr</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>home</h1>
<h1>end</h1>
{% endblock content %}
