{% extends 'home/base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock links %}
  

{% block title %}
    آریان سیستم رو | خانه
{% endblock title %}


{% block content %}

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item carousel-item-im active">
      <img src="{% static 'images/2.jpg' %}" class="d-lg-block w-100 object-fit-lg-fill" alt="...">
    </div>
    <div class="carousel-item carousel-item-im">
      <img src="{% static 'images/3.jpg' %}" class="d-lg-block w-100 object-fit-lg-fill" alt="...">
    </div>
    <div class="carousel-item carousel-item-im">
      <img src="{% static 'images/4.jpg' %}" class="d-lg-block w-100 object-fit-lg-fill" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock content %}
    
    