# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.env/
.venv
.env
.env.prod

# Git
.git
.gitignore
.dockerignore


# Django stuff
*.sqlite3
media/
staticfiles/
*.log
static/
compose-dev/
docker/django
docker/nginx/Dockerfile
# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
