# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.env/
.venv

# Git
.git
.gitignore

# Django stuff
*.sqlite3
media/
staticfiles/
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
