.carousel-item-im {
    height: 530px;
}

.carousel-item-im img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    .carousel-item-im {
        height: 200px;
    }
}


