.baner {
  width: 200px;
  height: 200px;
}

.title-baner {
  margin-bottom: 0;
}


.text-baner {
  font-size: 10px;
}



/* تبلت و بالاتر */
@media (min-width: 768px) {
  .text-baner {
    font-size: 14px;
  }
  .baner {
    width: 500px;
    height: 500px;
  }
  .title-baner {
    margin: 200;
  }
}

/* دسکتاپ بزرگ‌تر */
@media (min-width: 1200px) {
  .text-baner {
    font-size: 22px;
  }
}
