@font-face {
    font-family: 'vazir';
    src: url("../../fonts/vazir/Vazir-Light-FD-WOL.woff2") format("woff2"),
    url("../../fonts/vazir/Vazir-Light-FD-WOL.woff") format("woff"),
    url("../../fonts/vazir/Vazir-Light-FD-WOL.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'vazir';
    src: url('../../fonts/vazir/Vazir-FD-WOL.woff2') format('woff2'),
    url('../../fonts/vazir/Vazir-FD-WOL.woff') format('woff'),
    url('../../fonts/vazir/Vazir-FD-WOL.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'vazir';
    src: url("../../fonts/vazir/Vazir-Medium-FD-WOL.woff2") format("woff2"),
    url("../../fonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("../../fonts/vazir/Vazir-Medium-FD-WOL.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'vazir';
    src: url('../../fonts/vazir/Vazir-FD-WOL.woff2') format('woff2'),
    url('../../fonts/vazir/Vazir-Bold-FD-WOL.woff') format('woff'),
    url('../../fonts/vazir/Vazir-Bold-FD-WOL.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: vazir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li{
    list-style: none;
}

