@font-face {
  font-family: "vazir";
  src:
    url("../../fonts/vazir/Vazir-Light-FD-WOL.woff2") format("woff2"),
    url("../../fonts/vazir/Vazir-Light-FD-WOL.woff") format("woff"),
    url("../../fonts/vazir/Vazir-Light-FD-WOL.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src:
    url("../../fonts/vazir/Vazir-FD-WOL.woff2") format("woff2"),
    url("../../fonts/vazir/Vazir-FD-WOL.woff") format("woff"),
    url("../../fonts/vazir/Vazir-FD-WOL.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src:
    url("../../fonts/vazir/Vazir-Medium-FD-WOL.woff2") format("woff2"),
    url("../../fonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("../../fonts/vazir/Vazir-Medium-FD-WOL.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src:
    url("../../fonts/vazir/Vazir-FD-WOL.woff2") format("woff2"),
    url("../../fonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff"),
    url("../../fonts/vazir/Vazir-Bold-FD-WOL.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family:
    vazir,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

ul li {
  list-style: none;
}

/* فونت در موبایل کوچیک‌تر */
.text-responsive {
  font-size: 12px;
}

/* تبلت و بالاتر */
@media (min-width: 768px) {
  .text-responsive {
    font-size: 14px;
  }
}

/* دسکتاپ بزرگ‌تر */
@media (min-width: 1200px) {
  .text-responsive {
    font-size: 14px;
  }
}

.footer-title {
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #dc3545;
}

.footer-links li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.footer-links li a:hover {
  color: #dc3545;
}

.footer-links-sosial li a:hover{
    color: #3498db;
}


.dot {
  width: 8px;
  height: 8px;
  background: #dc3545;
  border-radius: 50%;
  margin-top: 0.4rem;
}

.logo-img {
  width: 50px;
  height: 50px;
}

/* برای لودینگ */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
    text-decoration: none;
    color: #ffffff;
}
