{% extends 'home/base_auth.html' %}
 {% load static %}
  {% block title %} ورود 
  {%endblock title %} {% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock links %}
 {% block content %}
<div class="main_contaner">
  <div class="one_contaner">
    <div class="content_up">
      <h4>آریان سیستم رو</h4>
      <small>تولید کننده درب تمام اتو ماتیک آسانسور</small>
    </div>
    <div class="form_cont">
      <form action="" method="post">
        {% csrf_token %}
        <div>
          <label for="email_field">ایمیل</label>
          <input
            type="email"
            id="email_field"
            name="email"
            class="form-control text-start"
            value="{{request.POST.email |default:''}}"
          />
        </div>

        <div class="form_password">
          <label for="password_1">رمز عبور</label>
          <input
            type="password"
            id="password_1"
            name="password"
            class="form-control"
            value="{{request.POST.password |default:''}}"
          />
          <span class="see_password" id="togglePassword_1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="eye-open"
              viewBox="0 0 16 16"
            >
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
              />
            </svg>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="eye-closed d-none"
              viewBox="0 0 16 16"
            >
              <path
                d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"
              />
              <path
                d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"
              />
            </svg>
          </span>
        </div>

        <div class="position-relative">
          {% if form.non_field_errors %}
        <div class="field-error" id="error-email">
          {{ form.non_field_errors }}
        </div>
        {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">وارد شوید</button>
      </form>
      <small
        >شما حساب کاربری ندارید؟
        <a
          href="{% url 'identify:endpoint:register_form' %}"
          class="text-primary"
        >
          ثبتنام کنید</a
        ></small
      >
    </div>

    <div class="divider">
      <hr />
      <span>or</span>
      <hr />
    </div>

    <div class="google_login">
      <a href="#" class="btn btn-outline-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-google"
          viewBox="0 0 16 16"
        >
          <path
            d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
          />
        </svg>
        وارد شدن با گوگل
      </a>
    </div>
  </div>
</div>

{% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock scripts %} {% endblock content %}
