{% extends 'home/base_auth.html' %} {% load static %} {% block title %} ثبت نام
{% endblock title %} {% block links %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock links %} {%block content %}

<div class="">
  <div
    class="bg-primary p-5 rounded-bottom-5 d-flex flex-column justify-content-center align-items-center text-light"
  >
    <h4>به آریان سیستم رو خوش آمدید</h4>
    <small>تولید کننده درب تمام اتوماتیک آسانسور</small>
  </div>
  <div
    class="d-flex justify-content-center align-items-center flex-column rounded-4 m-2 border p-3"
  >
    <p>ثبت نام</p>
    <form
      action=""
      method="post"
      class="d-flex flex-column w-100 justify-content-center align-items-center gap-4 mt-4 p-3 pb-5 form-register"
    >
      {% csrf_token %}
      <div class="w-100">
        <input
          type="email"
          name="email"
          class="text-start form-control fors"
          placeholder="ایمیل"
          id="email_in"
        />
      </div>
      <div class="w-100">
        <input
          type="password"
          name="password"
          class="text-start form-control"
          placeholder="رمز عبور"
        />
      </div>
      <div class="w-100">
        <input
          type="password"
          name="password_2"
          class="text-start form-control"
          placeholder="تکرار رمز عبور"
        />
      </div>
      <button class="btn btn-primary w-100" type="submit">ثبت نام</button>
    </form>
  </div>
  <div>
    <div>
      <a class="" href="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-google"
          viewBox="0 0 16 16"
        >
          <path
            d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"
          />
        </svg>
      </a>
    </div>
    <div></div>
  </div>
</div>

{% endblock content %}
